@font-face{
    font-family: "Minecraft";
    src: url(minecraft-font.ttf);
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(../images/when.gif);
    background-size: 35%;
}

#RETARD{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: space-between;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    position: fixed;
    top: 0;
}

#stfutard{
    display: flex;
    flex-direction: row;
    margin: 0% 30% 0%;
    font-family: "Comic Sans MS", "Comic Sans", fantasy;
    color: white;
    animation: pulsate 0.5s alternate infinite;
}

#secretRETARD{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 0.1em solid limegreen;
    background-color: rgba(100, 255, 100, 0.6);
    border-radius: 5em;
    text-decoration: none;
    font-family: "Minecraft";
    font-size: 100%;
}

.text{
    border: solid;
    margin: 5em;
    padding: 3em;
    border-radius: 2em;
    background-image: url(../images/ppy.jpeg);
    background-size: cover;
    font-family: "papyrus";
}

#piccies{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Comic Sans MS", "Comic Sans", fantasy;
}

.Images{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    height: auto;
    background-image: conic-gradient(#fd004c,#fe9000,#fff020,#3edf4b,#3363ff,#b102b7,#fd004c);
    padding: 10px;
    animation: borderanimation 3s ease alternate infinite;
    background-size: 400% 400%;
}

#eguniverse{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    height: auto;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
    background-image: url("../images/eguniverse.gif");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
}

#eguniverse img{
    border: 2px solid white;
}

#thx{
    text-align: center;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
    color: azure;
    font-size: 0.2em;
}

@keyframes borderanimation{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes pulsate {
    50%{ 
        opacity: 1.0;
    }
    100%{
        opacity: 0.5;
    }
}